* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex; // Por padrão os itens do container ficam um ao lado do outro
    // justify-content: space-between; Alinha o primeiro item no começo, o último no final e os outros separados igualmente
    //space-around  O espaço vazio antes do primeiro e depois do último item é igual a metade do espaço entre cada par de itens adjacentes.
    //space-evenly  Os itens são colocados no eixo principal com espaçamentos equivalentes entre si.
    //space-between  O primeiro item fica no começo do eixo e o último no fim, os restantes ficam alinhados entre si no meio.
   

    justify-content: space-around;
    align-items: center;

    border: solid green 5px;
    height: 10vh;


    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 35%;
        height: 10vh;

        a {
            color: #4B5563;
            text-decoration: none;
            font-size: 1.5rem;
        }

    }
}

.btnVerde {
    background-color: #21C05C;
    padding: 20px;
    border-radius: 6px;
    color: #ffffff;
}

.caixaLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;

    h1 {
        color: #1f2937;
        font-size: 2.5rem;
    }
}
.primeiraSection {

   display: flex;
    justify-content: center;
    height: 70vh;


section{
border: solid green($color: #000000);
display: flex;
flex-direction: column;


h2{ 
    border: solid;
    width: 60%;

}
p {
    font-size: 1.25rem;
    width: 65%;
    border: dolid;

        }
    }
}

.boxBtnsPrimeiraSection {
     width: 100%;
    display: flex;
    justify-content: space-between;

    button {
        padding: 30px 40px;
        cursor: pointer;
    }

} 

.produtosDisponiveis {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;


    article {
        border: solid #16a34a;
        width: 18%;
        height: 60vh;
        display: flex;
        // flex-direction: row; Por padrão ao aplicar o display flex, a direção é em linha (row)
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        img {
            width: 100%;
        }

        p {
            text-align: center;
            border: solid;
            width: 90%;
        }

        button {
            margin-bottom: 2rem;
            padding: 1rem;
        }
    }
}

    
    //Quero que voce aplique esse estilo em telas de 0px até 769px


@media screen  and (max-width: 768px); {
    .produtosDisponiveis
         flex-direction: column;


         article {
                width: 50%;

         }

}

@media (max-width: 500px) {
.caixaLogo {
    width: 50%;
    }


}
.primeiraSection {
        flex-direction: column;
        align-items: center;
}
        img {
            width: 50vw;
        }
        section {
            justify-content:  space-between;

        h2{
            font-size:1.5rem;
            width: 100%;
            text-align: center;
        }

        p{
        h1{
            font-size: 2rem;
           }

        }
     }

.boxBtnsPrimeiraSection {
    width: 100%;
    justify-content: space-evenly;

    button { 
        padding: 10px 20px;
    }

}

    
